---
//import type { CollectionConfig } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import H1 from '../../components/H1.astro';
import Main from '../../components/Main.astro';
import { Image } from 'astro:assets';
import { getCollection, type CollectionEntry } from 'astro:content';

export const getStaticPaths = async () => {
    const projects = await getCollection("projects")
    const paths = projects.map(project => {
        return {
            params: {
                slug: project.slug
            },
            props: {
                project
            }
        }
    })
    return paths;
}

type Props = {
    project: CollectionEntry<"projects">
}

const {project} = Astro.props;
const {Content} = await project.render();
---

<Layout title={project.data.title}>
    <Main>
        <H1 text ={project.data.title}/>
        <Image
            src={project.data.image}
            width={200}
            height={200 / 2}
            alt={project.data.title}
            class="rounded-2xl shadow-xl mb-4 aspect-thumbnail object-cover"
        />
        <div class="prose prose-2xl overflow-visible relative mb-20">
            <Content/>
        </div>        
    </Main>
</Layout>
