---
import { Image } from "astro:assets";

const { project } = Astro.props;
---

<article>
    <div class="grid p-3.5 rounded-4xl grid-rows-[auto_auto_auto]
                max-w-250 max-h-175
                bg-[#AB81CD]">
        <a
            href={`/project/${project.slug}`}
            class="text-2xl text-zinc-900 font-semibold inline-block text-center"
        >
            <h2>{project.data.title}</h2>
        </a>
        <a href={`/project/${project.slug}`} class="pt-2.5 pb-2.5 justify-items-center">
            <Image
                src={project.data.image}
                width={250}
                height={250 / 2}
                alt={project.data.title}
                class="rounded-2xl aspect-thumbnail object-cover"
            />
        </a>
        <p class="text-[#25283D] text-xl line-clamp-2">
                {project.body}
            </p>
        
    </div>
</article>