---
import { type CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
 
const { technical } = Astro.props
---

<article>
    <a href={`/technical/${technical.slug}`}>
        <Image
            src={technical.data.image}
            width={100}
            height={100/2}
            alt={technical.data.title}
            class="rounded-2x1 shadow-xl mb-4 aspect-thumbnail object-cover"
            />
    </a>
    <a
        href={`/technical/${technical.slug}`}
        class="text-4x1 text-zinc-900 font-semibold inline block"
    >
        <h2>{technical.data.title}</h2>
    </a>
    <p class="text-zinc-500 text-2x1 lin-clamp-2">
        {technical.body}
    </p>
</article>